.clients-list {
  @include flex;
  gap: 30px;
}

.clients-link {
  @include flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--timing-function), border-color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-icon {
  fill: currentColor;
}
