.contacts__list {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    gap: 30px;
    display: flex;
    flex-direction: row;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  @include flex;
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--primary-text-color);
  transition: color var(--timing-function);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
