.modal-check-box {
  margin-bottom: 30px;
}

.check-label {
  @include font(null, 14px, 1.71, 0.03em);
  @include flex;
  color: var(--primary-text-color);
  span {
    @include flex;
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 2px;
    margin-right: 10px;
    .modal-check:checked + & {
      background-color: var(--accent-color);
      border: none;
    }
    .modal-check:focus + & {
      border-color: #000000;
    }
  }
}

.check-ikon {
  fill: transparent;
  opacity: 0;
  .modal-check:checked + .check-label & {
    fill: var(--primary-bg-color);
    opacity: 1;
  }
}

.contract-link {
  color: var(--accent-color);
}

.check-btn {
  @include flex;
}
