.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }

  &__link {
    display: block;
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--second-title-text-color);
    transition: color var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contacts {
    display: block;
    @include font(null, 14px, 1.71, 0.03em);
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
