.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__box {
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      text-align: start;
    }
  }
  &__contacts {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 165px;
      margin-bottom: 60px;
    }
  }
  &__logo {
    margin-bottom: 20px;
    display: block;
  }

  &__join {
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
  }

  &__title {
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
    margin-top: 60px;
    margin-bottom: 20px;
    color: var(--second-title-text-color);
  }
}
