.filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    @include flex;
    gap: 8px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    gap: 8px;
    margin-bottom: 50px;
  }
}
.filters-btn {
  @include font(500, 16px, 1.63, 0.03em);
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--first-title-text-color);
  background-color: #f5f4fa;
  transition: background-color var(--timing-function),
    color var(--timing-function), box-shadow var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--second-title-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
